@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}


/* Add Cursor pointer to button by default - this is coming from tailwind docs*/
@layer base {
    bottom:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}